PRIVATE_KEY=
ROBOT_PRIVATE_KEY=
CONTROLLER_PRIVATE_KEY=
ISSUER_PRIVATE_KEY=
UZHETH_POS_RPC_URL=http://130.60.144.77:8554/
REGISTRY_ADDRESS=
# Output of npm run register, e.g. did:uzheth:robot:70207:0x<nftContract>:1
ROBOT_DID=
ROBOT_TOKEN_ID=
SUBJECT_ROBOT_DID=
CREDENTIAL_SUBJECT_DID=
CREDENTIAL_FILE=
CREDENTIAL_TYPE=RobotSensorDataCredential
CREDENTIAL_VALID_DAYS=1
MAX_PUBLISH_DELAY_SECONDS=86400
ANCHOR_GAS_MODE=offchain
ANCHOR_CONSUMPTION_MODE=unlimited
ANCHOR_MAX_USES=1
ANCHOR_ACTOR_PRIVATE_KEY=
NEW_ROBOT_PRIVATE_KEY=
NFT_TRANSFER_TO=
CONTROLLER_ADDRESS=
CONTROLLER_ACTION=add
CONTROLLER_PERMISSIONS=7
MINTER_ADDRESS=
ISSUER_ADDRESS=
ISSUER_PROFILE_NAME=
ISSUER_PROFILE_TYPE=
ISSUER_PROFILE_REMARK=
ISSUER_METADATA=
ISSUER_REGISTRY_ADMIN_ADDRESS=
SENSOR_TYPE=temperature
SENSOR_VALUE=22.4
SENSOR_UNIT=C
SENSOR_LOCATION=UZH Lab A
ROBOT_STATUS=operational
ROBOT_BATTERY=87%
ROBOT_MODE=patrol
