PRIVATE_KEY=
ROBOT_PRIVATE_KEY=
ISSUER_PRIVATE_KEY=
UZHETH_POS_RPC_URL=http://130.60.144.77:8554/
REGISTRY_ADDRESS=
CREDENTIAL_SUBJECT_DID=
CREDENTIAL_TYPE=RobotSensorDataCredential
CREDENTIAL_VALID_DAYS=1
SENSOR_TYPE=temperature
SENSOR_VALUE=22.4
SENSOR_UNIT=C
SENSOR_LOCATION=UZH Lab A
ROBOT_STATUS=operational
ROBOT_BATTERY=87%
ROBOT_MODE=patrol
